# Build directories
/_build
/deps

# Dependencies
/node_modules

# Environment variables and secrets
.env*
*.swp
*.swo

# Git
.git
.gitignore

# Tests
/test
/test_data

# Local Elixir/Erlang data
.elixir_ls
erl_crash.dump
/priv/plts
